# Google Cloud Configuration
GOOGLE_APPLICATION_CREDENTIALS=~/.config/gcloud/application_default_credentials.json
GOOGLE_PROJECT=myproject
GOOGLE_SPANNER_INSTANCE=genealogy
GOOGLE_SPANNER_DATABASE=familytree
GOOGLE_CLOUD_REGION=us-west1
